@import '../variables';
body { 
  overflow: hidden;
}

.overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background-color: hsl(0, 0%, 60%, 0.5);
  z-index: 1000;
  backdrop-filter: blur(2px);
  display: grid;
}
.cookieConsentModal{
  place-self: center;
  width:40vw;
  height:60vh;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  
  &__header{
    background-color: $primaryColor;
    color: $backgroundColor;
    padding: 1em;
    h1{
      margin:0;
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 2;
    padding: 1em;
  }
  table{
    flex-grow: 2;
  }

  input[type="checkbox"]{
    visibility: hidden;
    width: 1px;
    height: 1px;
    display: none;

    &:checked
    + .consentToggle{
      background-color: lightgreen;
    }

    &:checked
    + .consentToggle::after{
      transform: translateX(1em);
      background-color: green;
    }
    &:disabled
    + .consentToggle{
      opacity: 0.5;
    }
    &:disabled
    + .consentToggle::after{
      opacity: 0.5;
    }
  }
  .consentToggle{
    display: inline-block;
    width:2em;
    height:1em;
    border-radius: 0.5em;
    background-color: lightgrey;
    transition: background-color 200ms ease;
    &::after{
      display: block;
      content: "";
      width:1em;
      height:1em;
      border-radius: 50%;
      background-color: grey;
      transition: transform 200ms ease, background-color 200ms ease;
    }
  }
  tr td:first-of-type{
    width:30%;
    text-align: center;
  }
  .content__buttons{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    .buttons__button{
      background-color: lightgray;
      height:3em;
      width:8em;
      border-radius: 5px;
      border:none;
      
      &--highlight{
        background-color: green;
        color:$backgroundColor;
        font-weight: 700;
      }
    }
  }
}

#cookie__analytics{}
#cookie__necessary{}

