@import '../variables.scss';

.primaryNavigation{
  display:flex;
  justify-content: space-between;
  padding:1em 2em;
  background-color: $primaryColor;
  &__menu{
    margin:0;
    padding: 0;
    list-style:none;
    display: flex;
    justify-content: space-between;
  }
  &__menuLink{
    color: $backgroundColor;
    text-decoration: none;
    padding:0 1em;
  }
  &__brand{
    color:$backgroundColor;

  }

}